In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("baseTP.csv")
df

,Mes,Año,Sucursal_9 DE JULIO,Sucursal_ITUZAINGO,Sucursal_PATIO OLMOS,Sucursal_VILLA CABRERA,Ganancias
0,1,2005,1,0,0,0,63220.90
1,2,2005,1,0,0,0,86684.00
2,3,2005,1,0,0,0,83729.02
3,4,2005,1,0,0,0,110671.50
4,5,2005,1,0,0,0,103475.77
...,...,...,...,...,...,...,...
187,8,2008,0,0,0,1,91642.52
188,9,2008,0,0,0,1,82501.51
189,10,2008,0,0,0,1,75828.41
190,11,2008,0,0,0,1,65309.10
191,12,2008,0,0,0,1,160571.10

In [3]:
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.2,random_state=123)

In [6]:
X_train=df_train.drop(["Ganancias"],axis=1)
y_train=df_train[['Ganancias']]

In [7]:
X_test=df_test.drop(["Ganancias"],axis=1)
y_test=df_test[['Ganancias']]

In [8]:
from sklearn import linear_model

modelo = linear_model.LinearRegression(fit_intercept=True)

In [9]:
modelo.fit(X_train, y_train)

LinearRegression()

In [10]:
from sklearn.metrics import mean_squared_error, r2_score
print("EVALUACIÓN del modelo de Regresión Lineal: ")
print("Coeficiente de Determinación R2: ",round(modelo.score(X_test,y_test),3)) # evaluamos el modelo
y_pred = modelo.predict(X_test)
MSE=mean_squared_error(y_test, y_pred)
print("MSE: ",round(MSE,3))
RMSE=mean_squared_error(y_test, y_pred,squared=False)
print("RMSE: ",round(RMSE,3))

EVALUACIÓN del modelo de Regresión Lineal:
Coeficiente de Determinación R2:  0.656
MSE:  820511858.83
RMSE:  28644.578

In [11]:
y_promedio=y_train.mean()[0]
y_promedio

108259.99666666662

In [12]:
porcentaje=RMSE/y_promedio * 100
print("El RMSE es el: ", round(porcentaje,2), " % del valor promedio de los valores del y_train")

El RMSE es el:  26.46  % del valor promedio de los valores del y_train

In [13]:
X=df.drop(["Ganancias"],axis=1)
y=df.Ganancias

In [ ]:
modelo.fit(X, y)

In [15]:
def programa():
    print("""PRONOSTICADOR DE VENTAS MENSUALES 2009 PARA LAS SUCURSALES:

    - 9 DE JULIO (1)
    - ITUZAINGO (2)
    - PATIO OLMOS (3)
    - VILLA CABRERA (4)""")

    x=True
    while x==True:
        mes=int(input("Ingrese el número de mes correspondiente: "))
        print("=================================================")
        if mes < 13 and mes >0:
            x=False
        else:
            print("Error, intente nuevamente.")

    x=True
    while x==True:
        sucursal= int(input("Ingrese el número de sucursal correspondiente: "))
        print("=================================================")
        if sucursal==1:
            de_julio=1
            ituzaingo=0
            pa_olmos=0
            villa_ca=0
            x=False
        elif sucursal==2:
            de_julio=0
            ituzaingo=1
            pa_olmos=0
            villa_ca=0
            x=False
        elif sucursal==3:
            de_julio=0
            ituzaingo=0
            pa_olmos=1
            villa_ca=0
            x=False
        elif sucursal==4:
            de_julio=0
            ituzaingo=0
            pa_olmos=0
            villa_ca=1
            x=False
        else:
            print("Error, número ingresado incorrecto")
            print("Intente nuevamente")

    datos=[[mes,2009,de_julio,ituzaingo,pa_olmos,villa_ca]]
    prediccion=modelo.predict(datos)
    prediccion=prediccion.round(decimals=2)
    print("=================================================")
    print("Para el mes "+ str(mes)+ " del año 2009 se pronostica vender " + str(prediccion))

In [16]:
programa()

PRONOSTICADOR DE VENTAS MENSUALES 2009 PARA LAS SUCURSALES:

    - 9 DE JULIO (1)
    - ITUZAINGO (2)
    - PATIO OLMOS (3)
    - VILLA CABRERA (4)
Ingrese el número de mes correspondiente: 1
=================================================
Ingrese el número de sucursal correspondiente: 1
=================================================
=================================================
Para el mes 1 del año 2009 se pronostica vender [[145887.24]]